/* Theme Colors */
$white: #fff;
$black: #000;
$blue: #3f79f6;
$green: #76c273;
$linkHover: #f8faff;

/* Gray Colors */
$gray-100: #f8faff;
$gray-200: #e4e4e4;
$gray-300: #9a9a9a;
$gray-400: #727272;
$gray-700: #323232;

/*  Font Weight */
$fw400: 400;
$fw500: 500;
$fw600: 600;

$leftNav: 350px;
$breakpoint-mob: 768px;