.wrapper {
 padding: 2rem 2.5rem;
 flex-grow: 1;
 margin-left: $leftNav;
 .descriptions {
  h4 {
   color: $gray-300;
   font-weight: $fw500;
   font-size: 1.125rem;
   margin-bottom: 10px;
  }
  p {
   color: $gray-700;
   line-height: 1.4;
   font-weight: 300;
  }
 }
 .users-section {
  margin-top: 2rem;
  @media (max-width: $breakpoint-mob) {
   margin-top: 0.5rem;
  }
  .heading {
   color: $gray-400;
   margin-bottom: 1.3rem;
   font-weight: $fw500;
  }
 }
 .card {
  @include border(all, 2px, solid, $gray-200);
  @include box-shadow(0, 0, 7px, $gray-200);
  @include border-radius(6px);
  @media (max-width: $breakpoint-mob) {
   box-shadow: none;
   border: none;
  }
  &-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.3rem 1.5rem;
   @include border(bottom, 2px, solid, $gray-200);
   @media (max-width: $breakpoint-mob) {
    padding: 1rem;
   }
  }
  &-title {
   color: $gray-400;
   text-transform: uppercase;
   font-weight: $fw500;
   font-size: 0.9rem;
  }
  .action-btns {
   display: flex;
   align-items: center;
   .action-link {
    color: $blue;
    text-transform: uppercase;
    margin-right: 2rem;
    font-weight: $fw500;
    letter-spacing: 0.5px;
   }
  }
 }
}
.table {
 width: 100%;
 border-spacing: 0px;
 padding-top: 1.3rem;
 @media (max-width: $breakpoint-mob) {
  font-size: 0.9rem;
 }
 thead {
  tr {
   th {
    padding-bottom: 1rem;
    &:nth-child(1) {
     padding-left: 1.4rem;
     @media (max-width: $breakpoint-mob) {
      padding-left: 0.8rem;
     }
    }
   }
  }
 }
 .complete-percent {
  display: flex;
  align-items: center;
  .percentage {
   color: $green;
   margin-left: 0.85rem;
   font-weight: $fw500;
   font-size: 0.81rem;
  }
 }
 tbody {
  padding-top: 1rem;
  tr {
   &:hover {
    background: $linkHover;
   }
   th {
    width: 40px;
    @media (max-width: $breakpoint-mob) {
     width: 32px;
    }
    &:nth-child(1) {
     padding-left: 1.4rem;
     @media (max-width: $breakpoint-mob) {
      padding-left: 0.8rem;
     }
    }
   }
   th,
   td {
    @include border(bottom, 1px, solid, $gray-200);
   }
   td {
    padding-right: 0.5rem;
   }
   &:last-child {
    td,
    th {
     border-bottom-color: transparent;
    }
   }
   .status {
    width: 15%;
   }
   .name {
    width: auto;
   }
   .completion {
    width: 25%;
   }
  }
 }
 .icon-dots {
  width: 20px;
  height: 20px;
  background-size: cover;
  display: block;
 }
 td {
  padding: 0.6rem 0;
 }
 th {
  color: $gray-300;
 }
 tr,
 td,
 th {
  text-align: left;
  font-weight: normal;
 }
 td {
  &.name {
   img {
    @include border(all, 1px, solid, $gray-200);
    @include border-radius(50%);
    padding: 1px;
    width: 31px;
    margin-right: 0.85rem;
   }
  }
 }
}

.more-infoBox {
 padding-top: 2rem;
 padding-right: 2rem;
 p {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 1.3rem;
  span {
   color: $gray-400;
   strong {
    color: $gray-700;
    font-weight: $fw500;
   }
  }
  .icon-pencil {
   width: 20px;
   height: 20px;
   background-size: cover;
   display: block;
   margin-left: 0.8rem;
  }
 }
 .pdf {
  &-bar {
   display: flex;
   align-items: center;
   @include border(all, 2px, solid, $gray-200);
   @include box-shadow(0, 1px, 3px, $gray-200);
   @include border-radius(6px);
   padding: 0.5rem;
  }
  &-icon {
   min-width: 30px;
   height: 33px;
   background-size: cover;
   display: inline-block;
  }
  &-name {
   color: $gray-700;
   margin-left: 0.5rem;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   width: 165px;
  }
 }
}

@media (max-width: $breakpoint-mob) {
 .wrapper {
  margin-left: 0;
  padding: 0;
 }
}

@media (max-width: $breakpoint-mob) {
 .right-sidebar {
  width: 100%;
  @include position($pos: fixed, $bottom: 0, $zi: 8);
  @include box-shadow(0, -2px, 4px, $gray-200);
  background: $white;
  .see-info {
   display: flex !important;
   padding: 1rem;
   @include border(bottom, 1px, solid, $gray-200);
   span {
    color: $gray-400;
    font-weight: $fw500;
   }
   .icon-arrow {
    width: 19px;
    height: 19px;
    background-size: cover;
    transform: rotate(0deg);
    @include transition(transform 0.3s linear);
    &.rotate180 {
     transform: rotate(180deg);
    }
   }
  }

  .more-infoBox {
   margin-bottom: 0;
   padding: 0;
   max-height: 400px;
   @include transition(all 0.5s linear);
   .pdf-bar {
    width: 80%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 1rem;
   }
   p {
    justify-content: center;
   }
  }
  .other-info {
   max-height: 0;
   overflow: hidden;
   padding: 0;
  }
 }
}
